/* Elements should be in dark mode by default */

@font-face {
    font-family: "Hylia Serif";
    src: url("../fonts/HyliaSerifBeta-Regular.otf");
}

@font-face {
    font-family: "Calamity";
    src: url("../fonts/Calamity-Regular.otf");

    font-weight: normal;
}

@font-face {
    font-family: "Calamity";
    src: url("../fonts/Calamity-Bold.otf");

    font-weight: bold;
}

:root {
    --text-light: #f0f0d2;
    --text-dark: #3f3730;

    --highlight-light: white;
    --highlight-dark: #75675b;

    --bg-highlight-light: rgba(255,255,255,0.15);
    --bg-highlight-dark: rgba(223, 209, 186, 0.241);

    --green-dark: rgba(42, 138, 92, 0.5);
    --green-light: rgba(35, 205, 123, 0.3);

    --orange-dark: rgba(138, 98, 42, 0.5);
    --orange-light: rgba(205, 151, 35, 0.3);

    --bg-img-dark: url("../images/background-dark.png") repeat;
    --bg-img-light: url("../images/background-light.png") repeat center/70%;

    --debug: #87f8fd;
    --error: #ff5b5b;
    --loading-spin-rotation: 0deg;
}


/* UTILITY CLASSES */

.hide {
    display: none !important;
}

.error {
    color: var(--error) !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-start {
    display: flex;
    justify-content: start;
}

.align-center {
    display: flex;
    align-items: center;
}


/* MAIN ELEMENTS */

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    margin: 0;
}

body {
    margin: 0;

    flex-grow: 1;

    --text-color: var(--text-light);
    --opposite-color: var(--text-dark);
    --highlight: var(--highlight-light);
    --bg-highlight: var(--bg-highlight-light);
    --green: var(--green-dark);
    --orange: var(--orange-dark);
    --bg-img: var(--bg-img-dark);
    
    background: var(--bg-img);
    
    color: var(--text-color);
    font-family: "Calamity", sans-serif;
}

body[data-color-mode="light"] {
    --text-color: var(--text-dark);
    --opposite-color: var(--text-light);
    --highlight: var(--highlight-dark);
    --bg-highlight: var(--bg-highlight-dark);
    --green: var(--green-light);
    --orange: var(--orange-light);
    --bg-img: var(--bg-img-light);
}

header {
    display: flex;
    justify-content: center;

    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 4rem;

    font-family: "Hylia Serif", serif;
    letter-spacing: 0.1rem;
}

header button {
    font-family: 'Calamity', sans-serif;
}

button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

button:hover {
    cursor: pointer;
}

body[data-color-mode="light"] button {
    color: var(--text-dark);
}

.icon-btn {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* OPTIONS */

.offcanvas {
    color: var(--text-color);

    background: var(--bg-img);

    border-left: 1px solid var(--text-color) !important;
}

body[data-color-mode="light"] .offcanvas {
    background: var(--bg-img-light);
    background-size: 200%;
}

.offcanvas-header {
    padding-bottom: 0;
}

.offcanvas-body {
    overflow-y: scroll;
}

.options-header {
    padding-top: 2.25rem;
    padding-bottom: 1rem;
}

.options-header:nth-child(1) {
    padding-top: 0;
}

.offcanvas :is(h1, h2, h3, h4, h5, h6) {
    font-family: "Hylia Serif", serif;
    letter-spacing: 0.08rem;
}

.options-section {
    width: 90%;
    margin-left: 1rem;
}

.offcanvas [aria-label="Close"] {
    --bs-btn-close-color: var(--text-color);
}

input[type="text"] {
    padding: 0.5rem;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--text-color);
    
    color: var(--text-color);
    font-family: "Calamity", sans-serif;
}

input[type="text"]:is(:focus, :hover),
input[type="text"]:is(:focus, :hover) ::placeholder {
    color: var(--highlight);
    border-color: var(--highlight);
}

::placeholder {
    color: var(--text-color);
}

.text-icon-btn {
    gap: 0.6rem;
    padding: 0.5rem;
}

.text-icon-btn[disabled],
.icon-btn[disabled] {
    opacity: 60%;
}

.text-icon-btn:hover:not([disabled]),
.icon-btn:hover:not([disabled]),
div:has( > input[type="checkbox"]:hover) label  {
    color: var(--highlight);
    border-color: var(--highlight);
}

.outlined-btn {
    border: 1px solid var(--text-color);
    border-radius: 2px;
}

.outlined-btn:active {
    background-color: var(--bg-highlight);
}

input[type=range] {
    position: relative;
    bottom: 0.6rem;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: var(--text-color);
    cursor: pointer;
    
    position: relative;
    bottom: 0.1rem;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.2rem !important;
    cursor: pointer;
    background: var(--text-color);
    border-radius: 0px;
    border: none;
    margin-top: 1rem;
}

input[type=range]:is(:hover,:focus)::-webkit-slider-thumb {
    background: var(--highlight);
}

legend {
    font-size: 1rem;
}

.challenge-options {
    margin-left: 1rem;
}

.options-fixed-footer {
    width: 100%;

    /* position: fixed;
    bottom: 0; */

    padding: 1rem;
    gap: 2rem;
    /* padding-top: 2rem; */

    /* background: linear-gradient(transparent, 1%, var(--opposite-color)); */
}


/* SHARE */

div:has( > #share-url) {
    gap: 1rem;
}

#share-url {
    text-overflow: ellipsis;
}

/* MAIN CONTENT */

.title-container {
    position: absolute;
    top: 35vh;
    transform: translate(-50%, -50%) scale(3);

    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loading-end {
    from {
        
    }

    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
}

.title {
    position: relative;
}

.title::before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;

    background-image: url("../images/ouroboros-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 80%;

    --loading-animation: loading-spin 6s linear infinite forwards;
}

.title[data-loading="true"]::before {
    animation: var(--loading-animation);
}

.title[data-loading="false"]::before {
    animation: var(--loading-animation);
    animation-play-state: paused;
}

@keyframes loading-spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        --loading-spin-rotation: 0deg;
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
        --loading-spin-rotation: -360deg;
    }
}

.title > * {
    margin: 0;
    text-align: center;
}

.pretitle {
    position: relative;
    top: 0.5rem;
}

h1 {
    text-align: center;

    font-size: 3rem;
    font-weight: normal;
}

.button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;

    position: absolute;
    top: 10px;
    right: 10px;
}

.wrapper {
    width: 90%;

    margin: 0 auto;
}

.bingo-board {
    display: grid;
    height: min(60vh, 60vw);

    aspect-ratio: 1.5/1;

    border: 1px solid var(--text-color);

    backdrop-filter: blur(3px);
}

.board-item {
    padding: 10px;
    position: relative;

    border: 0.5px solid var(--text-color);

    text-align: center;

    background-size: cover;
}

.board-item:hover {
    cursor: pointer;
    color: var(--highlight);
}

.board-item:hover:not(:is(.done-1, .done-2)) {
    background-color: var(--bg-highlight);
}

.done-1,
.done-2 {
    backdrop-filter: blur(3px);
}

.done-1 {
/* .board-item:active:not(.done) { */
    background-color: var(--green);
}

.done-2 {
    background-color: var(--orange);
}

.board-item p {
    margin: 0;
}

.board-item .challenge-text {
    font-size: 75%;
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.item-text {
    font-size: 90%;
    line-height: 1.1rem;
    /* font-weight: bold; */
}

.item-stats {
    position: absolute;
    top: 0;
    left: 0;
}

.item-stats p {
    font-size: 50%;
    color: var(--debug);
    text-align: start;
}

.color-mode-toggle {
    width: 2rem;
    height: 2rem;

    border: none;
}

.debug {
    position: absolute;
    bottom: 10px;
    left: 10px;
}


/* FOOTER */

footer {
    width: 100%;

    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem;
}

.random-seed-btn:has(#reroll) {
    transform: scale(1);
    transition: transform 0.2s;
}

.random-seed-btn:has(#reroll):hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.random-seed-btn #reroll {
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.random-seed-btn:hover #reroll {
    transform: rotate(180deg);
    transition: transform 0.5s;
}


/* RACE */
.race-menu :is(h2, h3) {
    font-family: "Hylia Serif";
}

.player-container {
    gap: 2rem;
}

.player-container .material-symbols-outlined {
    font-size: 3rem;
}

.player-container p {
    margin: 0;

    font-family: "Hylia Serif";
    font-size: 2rem;
}

.player-container .ready-icon {
    font-size: 2rem;
}

.player-container .ready-icon[data-ready=false] {
    opacity: 80%;
}

.player-container .ready-icon[data-ready=true] {
    color: var(--green);
}


/* MEDIA QUERIES */

/* @media screen and (min-width: 680px) {
    
} */