/* Elements should be in dark mode by default */

@font-face {
    font-family: "Hylia Serif";
    src: url("../fonts/HyliaSerifBeta-Regular.otf");
}

@font-face {
    font-family: "Calamity";
    src: url("../fonts/Calamity-Regular.otf");

    font-weight: normal;
}

@font-face {
    font-family: "Calamity";
    src: url("../fonts/Calamity-Bold.otf");

    font-weight: bold;
}

:root {
    --text-light: #f0f0d2;
    --text-dark: #3f3730;
    --debug: #87f8fd;
    --loading-spin-rotation: 0deg;
}


/* UTILITY CLASSES */

.hide {
    display: none !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}


/* MAIN ELEMENTS */

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    margin: 0;
    /* font-size: calc(12% + 8px); */
}

body {
    margin: 0;

    flex-grow: 1;

    background-image: url("../images/background-dark.png");
    background-repeat: repeat;

    color: var(--text-light);

    font-family: "Calamity", sans-serif;
}

body[data-color-mode="light"] {
    background-image: url("../images/background-light.png");

    color: var(--text-dark);
}

header {
    display: flex;
    justify-content: center;

    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 4rem;

    font-family: "Hylia Serif", serif;
    letter-spacing: 0.1rem;
}

button {
    background-color: transparent;
    border: none;
    color: var(--text-light);
}

button:hover {
    cursor: pointer;
}

body[data-color-mode="light"] button {
    color: var(--text-dark);
}

.icon-btn {
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CONTENT */

.title-container {
    position: absolute;
    top: 35vh;
    transform: translate(-50%, -50%) scale(3);

    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loading-end {
    from {
        
    }

    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
}

.title {
    position: relative;
}

.title::before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;

    background-image: url("../images/ouroboros-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 80%;

    --loading-animation: loading-spin 6s linear infinite forwards;
}

.title[data-loading="true"]::before {
    animation: var(--loading-animation);
}

.title[data-loading="false"]::before {
    animation: var(--loading-animation);
    animation-play-state: paused;
}

@keyframes loading-spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        --loading-spin-rotation: 0deg;
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
        --loading-spin-rotation: -360deg;
    }
}

.title > * {
    margin: 0;
    text-align: center;
}

.pretitle {
    position: relative;
    top: 0.5rem;
}

h1 {
    text-align: center;

    font-size: 3rem;
    font-weight: normal;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.bingo-board {
    display: grid;
    height: min(60vh, 60vw);
    /* transform: scale(calc(100% / 640px)); */

    aspect-ratio: 1.5/1;

    border: 1px solid var(--text-light);
}

.board-item {
    padding: 10px;
    position: relative;

    border: 1px solid var(--text-light);

    text-align: center;

    background-size: cover;
}

body[data-color-mode="light"] :is(.bingo-board, .board-item) {
    border-color: var(--text-dark);
}

.board-item p {
    margin: 0;
}

.board-item .challenge-text {
    font-size: 75%;
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.item-text {
    font-size: 90%;
    line-height: 1.1rem;
    /* font-weight: bold; */
}

.item-stats {
    position: absolute;
    top: 0;
    left: 0;
}

.item-stats p {
    font-size: 50%;
    color: var(--debug);
    text-align: start;
}

.color-mode-toggle {
    width: 2rem;
    height: 2rem;

    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
}

.seed-form input[type="text"] {
    padding: 0.5rem;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--text-light);
    
    color: var(--text-light);
    font-family: "Calamity", sans-serif;
}

::placeholder {
    color: var(--text-light);
}

body[data-color-mode="light"] .seed-form input[type="text"],
body[data-color-mode="light"] ::placeholder {
    color: var(--text-dark);
    border-color: var(--text-dark);
}

.debug {
    position: absolute;
    bottom: 10px;
    left: 10px;
}


/* MEDIA QUERIES */

@media screen and (min-width: 680px) {
    
}