/* Elements should be in dark mode by default */

@font-face {
    font-family: "Hylia Serif";
    src: url("../fonts/HyliaSerifBeta-Regular.otf");
}

@font-face {
    font-family: "Calamity";
    src: url("../fonts/Calamity-Regular.otf");

    font-weight: normal;
}

@font-face {
    font-family: "Calamity";
    src: url("../fonts/Calamity-Bold.otf");

    font-weight: bold;
}

:root {
    --text-light: rgb(255, 241, 232);
    --text-dark: #3f3730;
    --loading-spin-rotation: 0deg;
}


/* UTILITY CLASSES */

.hide {
    display: none !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}


/* MAIN ELEMENTS */

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    margin: 0;
}

body {
    margin: 0;

    flex-grow: 1;

    background-image: url("../images/background-dark.png");
    background-repeat: repeat;

    color: var(--text-light);

    font-family: "Calamity", sans-serif;
}

body[data-color-mode="light"] {
    background-image: url("../images/background-light.png");

    color: var(--text-dark);
}

header {
    display: flex;
    justify-content: center;

    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 4rem;

    font-family: "Hylia Serif", serif;
    letter-spacing: 0.1rem;
}

.title-container {
    position: absolute;
    top: 35vh;
    transform: translate(-50%, -50%) scale(3);

    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loading-end {
    from {
        
    }

    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
}

.title {
    position: relative;
}

.title::before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: -1;

    background-image: url("../images/ouroboros-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    --loading-animation: loading-spin 6s linear infinite forwards;
}

.title[data-loading="true"]::before {
    animation: var(--loading-animation);
}

.title[data-loading="false"]::before {
    animation: var(--loading-animation);
    animation-play-state: paused;
}

@keyframes loading-spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        --loading-spin-rotation: 0deg;
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
        --loading-spin-rotation: -360deg;
    }
}

.title > * {
    margin: 0;
    text-align: center;
}

.pretitle {
    position: relative;
    top: 0.5rem;
}

h1 {
    text-align: center;

    font-size: 3rem;
    font-weight: normal;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.bingo-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 50vh;

    aspect-ratio: 1.5/1;

    border: 1px solid var(--text-light);
}

.board-item {
    padding: 10px;

    border: 1px solid var(--text-light);

    text-align: center;

    background-size: cover;
}

body[data-color-mode="light"] :is(.bingo-board, .board-item) {
    border-color: var(--text-dark);
}

.board-item p {
    margin: 0;
}

.board-item .challenge-text {
    font-size: 75%;
    margin-bottom: 0.2rem;
}

.item-text {
    font-weight: bold;
}

.color-mode-toggle {
    width: 20px;
    height: 20px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/icons/light-mode-icon.png");

    border: none;
}

.color-mode-toggle:hover {
    cursor: pointer;
}

body[data-color-mode="light"] .color-mode-toggle {
    background-image: url("../images/icons/dark-mode-icon.png");
}